* {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: white
}

/* 
*************************

HEADER CSS STARTS HERE

***************************
*/

.header {
  background-color: #1E371A;
}

.header ul {
  display: flex;
  gap: 60px;
  height: 10vh;
  align-items: center;
  justify-content: center;
  list-style: none;
  color: white;
  font-size: 14px;
  flex-wrap: wrap;
  margin: 0;

}

.header ul li {
  transition: 0.25s;
}

.header>ul>li:hover a {
  cursor: pointer;
  color: #5EB561;
  transition: 0.25s;
}

.header ul li:first-child {
  background: rgba(37, 196, 45, 0.84);
  padding: 5px 15px;
  border-radius: 5px;
  color: #5EB561;
}

.header ul li:nth-child(7) {
  padding: 5px 15px;
  background: #FFA000;
  border-radius: 5px;
}

.header ul li:hover:nth-child:nth-child(7) {
  background: rgba(255, 255, 255, 0.84);
  color: #5eb561;
}

.header img {
  transform: scale(0.35);
  cursor: pointer;

}

.menu_bar {
  color: white;
  font-size: 1.2rem;
  position: absolute;
  top: 1.5rem;
  right: 0.5rem;
  z-index: 99;
  display: none !important;
}

/* 
*************************

HEADER CSS ENDS HERE

***************************
*/


/* 
*************************

MAIN CSS STARTS HERE

***************************
*/

main {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
  margin-bottom: 10rem;


}

.api-search {
  display: flex;
  padding: 10px 20px;
  background-color: #F9FBFF;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
  width: 70%;
  margin-bottom: 20px;
  border: 1px solid rgb(214, 209, 209);
}

.bars{
  display: none !important;
}

.api-search input {
  border: none;
  outline: none;
  padding: 10px;
  background: #F9FBFF;
}

.api-search i {
  cursor: pointer;
}

.right-doc {
  border: 1px solid #eee;
  width: 100%;
}


.l-icon {
  display: none;
  transition: 0.75s;
}

.api-doc-left ul li {
  display: flex;
  cursor: pointer;
  font-weight: bold;
}



.api-doc-left ul li:hover .l-icon {
  display: block;
  transition: 0.75s;
}


/* 
*************************

MAIN CSS ENDS HERE

***************************
*/



/* 
*************************

ACCORDIAN CSS STARTS HERE

***************************
*/

.acc_main {
  margin: auto;

}

.api-doc-left {
  flex: 2;
  padding-left: 7rem;
}

.api-doc-left h5 {
  font-size: 25px;
  color: #0e5e2f;
  margin-left: 5px;
  margin-bottom: 20px;
}

.api-doc-left ul {
  display: flex;
  flex-direction: column;
  gap: 30px;
  list-style: none;
  color: #0d5018;



}

/* 
*************************

ACCORDIAN CSS ENDS HERE

***************************
*/



/* right side */

.h55 {
  color: white
}

.api-doc-right .acc_main h5 {
  font-size: 27px;
  margin: 0;
  color: white;
  padding-bottom: 20px;
}

.api-doc-right {
  flex: 7;

}

.right-doc {
  box-shadow: 6px 10.392px 24px 0px rgb(106 105 194 / 25%);
  width: 90%;
  background: linear-gradient(157.22deg, #4CAF50 56.15%, #FFA000 95.59%);
}

.acc-section {
  margin-top: 10rem;
  ;
}

.acc-section .acc-head h5 {
  font-size: 25px;
  width: 20%;
  margin-left: 20rem;
  margin-bottom: -4rem;
}

.acc-btns {
  background-color: white;
  color: #444;
  cursor: pointer;
  padding: 15px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  box-shadow: 2px 3.464px 24px 0px rgb(106 105 194 / 25%);
  border: 1px solid rgb(193, 190, 190);
}

.acc-icon {
  display: flex;
  align-items: center;
  gap: 20px
}

.acc-icon span {
  font-weight: bold;
}

.panel {
  padding: 18px;
  display: none;
  background-color: white;

  overflow: hidden;
  box-shadow: 2px 3.464px 24px 0px rgb(106 105 194 / 25%);
  color: black;
  width: 99%;
}

.acc_main {
  width: 85%;
  padding: 20px;

}

.acc {
  margin-bottom: 30px;
}


/* 
*************************

ACCORDIAN CSS ENDS HERE

***************************
*/

/* 
*************************

FOOTER  CSS STARTS HERE

***************************
*/

.footer_section {
  width: 100%;
  overflow: hidden;
  height: 100vh;
  position: relative;
}

.footer_bg11 {
  width: 150%;
  display: flex;
  justify-content: center;
  height: 250vh;
  position: absolute;
  left: -22rem;
  top: 1rem;
  transform: rotate(5deg);
  overflow: hidden;
}

.footer_bg22 {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 60vh;
  position: absolute;
  bottom: 0;
}

.footer_getstarted_container {
  position: absolute;
  top: 20vh;
  left: 50%;
  transform: translate(-50%, 0);
  text-align: center;
}

.footer_getstarted_container > p {
  color: #fff;
  font-size: 1.875rem;
  margin-bottom: 1.5rem;
}

.footer_getstarted_container > button {
  color: #fff;
  background-color: #ffa000;
  padding: 0.7rem 2rem;
  border: none;
  border-radius: 0.5rem;
  font-size: 0.9rem;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
.footer_getstarted_container > button:hover {
  background-color: #eb9708;
}

.footer_links_container {
  position: absolute;
  bottom: 16vh;
  left: 50%;
  transform: translate(-50%, 20%);
  width: 80%;
  display: flex;
  justify-content: space-between;
  padding: 1rem 1rem 2.5rem 1rem;
  border-bottom: 1px solid #fff;
  color: #fff;
}

.footer_links_container li {
  list-style: none;
}

.footer_links_cols {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.footer_links_cols > h4 {
  font-size: 1.2rem;
}
.footer_links_cols > ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.footer_register_btn {
  background-color: wheat;
  padding: 0.3rem 0.6rem;
  border-radius: 0.3rem;
  color: rgb(219, 10, 10);
  border: none;
}

.footer_social_links_container {
  display: flex;
  justify-content: start;
  gap: 0.5rem;
}

.footer_social_links_container > .social_icons {
  background-color: wheat;
  color: #f24405;
  min-width: 1.7rem;
  min-height: 1.7rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer_links_col_2_cols {
  display: flex;
  justify-content: space-between;
  gap: 3rem;
  transition: 0.5s;
}

.footer_links_col_2_cols > ul {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  width: 7rem;
}

.footer_links_col_2_cols > ul > li {
  cursor: pointer;
}

.footer_links_col_2_cols > ul > li .col_2_icons {
  font-size: 0.7rem;
  margin-right: 0.3rem;
  display: none;
  transition: 0.5s;
}
.footer_links_col_2_cols > ul > li:hover .col_2_icons {
  display: inline;
  transition: 0.5s;
}

.footer_links_col_3 > ul > li {
  display: flex;
  transition: 0.5s;
  gap: 0.5rem;
  line-height: 1.35rem;
}
.footer_links_col_3 > ul > li:not(:first-child) {
  cursor: pointer;
}
.footer_links_col_1 ul > li > button,
i {
  cursor: pointer;
}
.footer_links_col_4 > ul > li {
  cursor: pointer;
}

.footer_copy_right {
  position: absolute;
  bottom: 3vh;
  left: 50%;
  transform: translate(-50%, 20%);
  color: #fff;
}


/* 
*************************

FOOTER  CSS ENDS HERE

***************************
*/
/* 
*************************

MEDIA QUERIES \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\

***************************
*/

@media screen and (max-width: 1024px) {
  .api-doc-left {
    padding-left: 2rem;
  }

  .api-search input {
    width: 30%
  }

  .api-doc-left ul {
    font-size: 14px !important;
  }
  /* Footer Section */

  .footer_bg11 {
    left: -13rem;
    top: 0.2rem;
  }

  .footer_bg22 {
    height: 60vh;
  }
  .footer_getstarted_container {
    top: 16vh;
  }
  .footer_links_container {
    width: 90%;
    padding: 0rem 1rem 1.5rem 1rem;
    bottom: 6rem;
  }
  .footer_links_cols {
    gap: 1rem;
  }
  .footer_copy_right {
    bottom: 4vh;
  }
}

@media screen and (max-width: 768px) {

  /* footer Section */
  .footer_section {
    width: 100%;
    height: 125vh;
    overflow: hidden;
    position: relative;
  }
  .footer_bg11 {
    left: -29rem;
    height: 250vh;
    width: 220%;
    transform: rotate(5deg);
  }
  .footer_bg22 {
    height: 100vh;
  }
  .footer_getstarted_container {
    top: 12vh;
  }
  .footer_getstarted_container > p {
    font-size: 1.75rem;
    margin-bottom: 1rem;
  }
  .footer_getstarted_container > button {
    padding: 0.6rem 1rem;
  }
  .footer_links_container {
    flex-wrap: wrap;
    bottom: 24vh;
  }
  .footer_links_col_1,
  .footer_links_col_2 {
    width: 50%;
  }
  .footer_links_col_3,
  .footer_links_col_4 {
    width: 50%;
    margin-top: 3rem;
  }
  
  .footer_copy_right {
    bottom: 4vh;
    width: max-content;
  }
  .api-doc-right{
    margin-top: -0.7rem;
  }

  main {
    flex-direction: column-reverse;
    position: relative;

  }

  .api-doc-left h5 {
    color: white
  }

  .api-doc-left ul {
    color: white
  }

  .api-doc-left {
    padding-left: 1rem;
    display: none;
    padding: 1rem 1rem;
    position: absolute;
    z-index: 99;
    width: 30%;
    top: 4rem;
    transition: 0.5s;
    background: linear-gradient(157.22deg, #337e36 56.15%, #FFA000 95.59%);
    box-shadow: 6px 10.392px 24px 0px rgba(232, 232, 238, 0.25);
  }

  .h55 {
    font-size: 22px !important;
  }

  .bars {
    position: absolute;
    left: 0.5rem;
    top: 1.1rem;
    display: block !important;
    font-size: 22px;
    color: white;
    transition: 0.5s;
    background-color: green;
    padding: 3px;
    border-radius: 5px;
  }

  .api-search input {
    width: 30%;
    padding: 4px
  }

  .right-doc {
    margin-left: 0rem;
    width: 100% !important;
  }

  .acc_main {
    margin-left: 20px;
    width: 80%;
    margin-top: 2rem;

  }
}

@media screen and (max-width: 525px) {
  .api-doc-left {
    width: 40%;
  }
}

@media screen and (max-width: 600px) {
  .acc_main {
    margin-left: 10px;
  }

  .h55 {
    text-align: center;
  }
}

@media screen and (max-width: 425px) {

  /* Footer Section */
  .footer_section {
    height: 200vh;
  }
  .footer_bg11 {
    left: -56rem;
    height: 500vh;
    width: 500%;
  }
  .footer_bg22 {
    display: none;
  }

  .footer_getstarted_container {
    top: 20vh;
  }

  .footer_getstarted_container > p {
    font-size: 1.5rem;
    width: 18rem;
    margin-bottom: 1rem;
  }
  .footer_links_container {
    flex-direction: column !important;
    justify-content: space-evenly;
    border-bottom: none;
    top: 4rem;
    left: 15rem;
    bottom: 45vh;
    height: auto;
  }

  .footer_links_container::after {
    content: " ";
    width: 100%;
    height: 1px;
    background-color: grey;
    position: relative;
    top: 3rem;
    right: 2rem;
  }

  .footer_links_cols > h4 {
    margin-bottom: 1rem;
  }

  .footer_links_col_1 {
    display: block;
    width: 70%;
    margin-bottom: 2rem;
  }

  .footer_links_col_2 {
    display: block;
    width: 70%;
    margin-bottom: -1rem;
  }
  .footer_links_col_2_cols {
    display: flex;
    justify-content: space-between;
    gap: 3rem;
    transition: 0.5s;
  }
  .footer_links_col_3 {
    display: block;
    width: 70%;
    margin-bottom: -1rem;
  }
  .footer_links_col_4 {
    display: block;
    width: 70%;
  }
  .footer_copy_right {
    bottom: 8vh;
    font-size: 0.9rem;
  }

  .acc_main {
    margin-left: 0px;
  }

  .h55 {
    text-align: center;
    width: 90%;
    margin-left: 40px !important;
  }

  .accordion {
    font-size: 13px;
  }

  .panel p {
    font-size: 14px;
  }

  .api-doc-left .api-search {
    padding: 2px 5px;
  }

  .api-doc-left {
    width: 50%;
    top: 4rem;
  }

  .api-doc-left ul {
    font-size: 12px !important;
  }
}

@media screen and (max-width: 375px) {
/* Footer Section */
.footer_bg11 {
  left: -50rem;
}
.footer_links_container {
  left: 12rem;
}
.footer_links_container::after {
  right: 0.5rem;
}

/* Copyright Section */
.footer_copy_right {
  width: 80%;
  text-align: center;
  bottom: 6vh;
}

  .h55 {
    text-align: center;
    width: 80%;
    font-size: 14px;
    margin-left: 40px !important;
  }
}

@media screen and (max-width: 320px) {
  /* Footer Section */
  .footer_bg11 {
    left: -44rem;
  }
  .footer_links_container {
    flex-direction: row !important;
    left: 8rem;
  }
  .footer_links_container::after {
    left: 2rem;
    top: 2.5rem;
    bottom: 4vh !important;
    line-height: 1.2rem;
  }

  .right-doc {
    margin-left: 0rem;
    padding-right: 15px;
    font-size: 15px !important;
  }

  .right-doc {
    width: 100%;
  }



}


/* 
*************************

  MEDIA QUERIES

***************************
*/

@media screen and (max-width: 1024px) {
  .p-right .right-img {
    width: 100%;
    margin-top: 5rem;
    margin-left: -5rem;
  }

  .p-right .r-item1 {
    left: -10rem;
    top: 5rem;
  }
  .p-right .r-item2 {
    right: 2rem;
  }
  .p-right .r-item4 {
    left: -10rem;
    top: 18rem;
  }
  

  .p-right .r-item {
    width: 50%;
    border: 2px solid rgb(201, 196, 196);
    display: flex;
    flex-direction: column;
    gap: 5px;
    z-index: 1;
    transition: 0.5s;
    border-radius: 10px;
    background: white;
    padding: 6px;
  }

  .multi-recharage {
    margin-top: 2rem;
  }

  .m-head p {
    width: 70%;
  }

  .multi-items {
    top: 3rem;
  }

  .multi-items .m-item {
    width: 18%;
  }

  /* Slider Section */

  .swiper {
    width: 90%;
  }

  /* FAQ's Section */

  .acc-section {
    margin-top: 4rem;
    margin-bottom: 12rem;
  }

  .acc_div {
    padding: 0;
  } 

  .acc-section .acc-head h5 {
    width: 32%;
    margin-left: 5rem;
  }

  
}
@media screen and (max-width: 960px) {
  .header ul {
    gap: 2rem;
  }

  .hero_section .hero_text {
    padding-top: 6rem;
  }
}

/* media queries screen 768 */

@media screen and (max-width: 768px) {
  .header {
    gap: 1.3rem;
    flex-direction: column;
    display: none;
  }

  .header ul {
    flex-direction: column;
    transition: 0.5s ease;
    height: 100vh;
    justify-content: space-evenly;
  }

  .menu_bar {
    display: block !important;
    font-size: 2rem;

  }

  .hero_section {
    flex-direction: column;
    align-items: center;
  }
  .hero_section .hero_text {
    width: 100%;
    align-items: start;
    gap: 5px;

    padding-top: 5rem;
  }

  .hero_section .hero_text p {
    margin: 0;
    color: white;
    width: 60%;
  }

  .hero_section .h_right {
    margin-top: 2rem;
    align-self: flex-end;
  }
  .main-image {
    left: 0;
    width: 30%;
  }
  .section2 {
    width: 90%;
    margin-top: 3rem;
    position: static;
  }

  .p-images {
    padding-top: 0rem;
    flex-wrap: wrap;
  }

  .left-img {
    height: auto;
  }

  .right-img {
    width: 130% !important;
    margin-top: -3rem !important;
  }

  .r-item {
    width: 70% !important;
  }
  .r-item1 {
    top: -2rem !important;
    left: 10rem;
  }
  .r-item2 {
    top: -2rem !important;
    left: 10rem;
  }
  .r-item3 {
    top: 12rem !important;
    left: -10rem !important;
  }
  .r-item4 {
    top: 12rem !important;
    left: 10rem !important;
  }

  .multi-recharage {
    margin-top: 5rem;
  }

  .multi-items {
    gap: 1rem;
  }

  .multi-items .m-item {
    width: 23%;
  }
  .bb-icon1 {
    bottom: -6rem;
  }
  .bb-icon {
    top: 3rem;
  }
}

  @media screen and (max-width: 425px) {
    .hero_section .hero_text h5 {
      font-size: 40px;
    }
    .hero_section .h_right {
      width: 65%;
    }

    .section2 {
      width: 95%;
      height: auto;
      padding: 1rem;
      margin-top: 3rem;
      position: static;
      margin: 0 auto;
    }

    .p-head h5 {
      font-size: 26px;
    }

    /* ////// */
    .right-img {
      width: 130% !important;
      margin: 0 auto !important;
    }

    .r-item {
      width: 100% !important;
    }
    .r-item1 {
      top: -4rem !important;
      left: -7rem !important;
    }
    .r-item2 {
      top: -4rem !important;
      left: 8rem;
    }
    .r-item3 {
      top: 8rem !important;
      left: -7rem !important;
    }
    .r-item4 {
      top: 8rem !important;
      left: 8rem !important;
    }

    .multi-recharage {
      margin-top: 8rem;
    }
  }
  @media screen and (max-width: 375px) {
    .hero_section .hero_text {
      padding-left: 2.5rem;
    }
    .main-image {
      top: 30.5rem;
      width: 35%;
    }
    .section2 {
      width: 95% !important;
      margin: 0 auto !important;
    }

    /* ////// */

    .p-head h5 {
      font-size: 20px;
      text-align: center;
      width: 100%;
    }

    .p-head p {
      font-size: 14px;
      text-align: center;
    }

    .left-img {
      width: 100% !important;
    }

    .p-images {
      gap: 2rem;
      justify-content: start;
    }

    .p-right .r-item {
      width: 240% !important;
      position: static !important;
      margin-left: 1.5rem;
      margin-bottom: 1rem;
    }

    .p-right .right-img {
      display: none;
    }

    .multi-recharage {
      margin-top: 2rem;
  }
  }
  @media screen and (max-width: 320px) {
    .menu_bar {
      font-size: 1.7rem;
    }
    .hero_section .hero_text {
      padding-left: 1.5rem;
    }
    .hero_section .hero_text h5 {
      font-size: 35px;
    }
    .hero_section .hero_text p {
      width: 80%;
    }

    .btns .btn_one,
    .btn_two {
      padding: 8px 10px;
      margin-top: 20px;
    }

    .section2 {
      width: auto;
      margin-left: 1.8rem;
    }

    .p-head h5 {
      margin-top: 5rem;
    }

    .p-images {
      gap: 3rem;
    }

    .p-right .right-img {
      display: none;
    }

    .p-right .r-item {
      width: 250% !important;
      margin-left: 1rem !important;
      margin-bottom: 1rem;
    }

    .multi-recharage {
      margin-top: 2rem;
    }
  }